/* Root Styling –––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --white: #fff;
  --black: #323135;
  --cream: #f2e9e4;
  --spring-green: #c9ada7;
  --leaf-green: #9a8c98;
  --pink: #22223b;
  --timeline-gradient: var(--cream) 0%, var(--cream) 50%,
    rgba(206, 233, 228, 0) 100%;
  --translate: 100px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', sans-serif;
  background: var(--cream);
}

ul {
  text-align: right;
  font-size: 25px;
}

h1 {
  font-size: 30px;
}

/* Sizing –––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  margin: 0 auto;
}

.spacer {
  max-width: 1200px;
  margin: auto;
}

.sub-container {
  margin: 10px;
  padding: 5px;
}

/* Fade Property –––––––––––––––––––––––––––––––––––––––––––––––––– */

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

/* Header Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.header li {
  list-style: none;
  display: inline-block;
}

.header li a {
  color: var(--black);
  margin:0;
  border:0px;
}

.header li a:hover {
  color: var(--leaf-green);
}


/* Jumbotron Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.jumbotron {
  max-width: 1200px;
  margin-left: 50px;
}

.jumbotron h2 {
  font-size: 50px;
  margin-bottom: 70px;
}

.jumbotron h2 span {
  color: var(--pink);
}

.jumbotron p {
  text-shadow: 0 0;
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
}


/* About Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.about {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.about h2 {
  font-size: 25px;
}

.about li {
  list-style: none;
  display: inline-block;
}

.about li a {
  color: var(--black);
  margin:0;
  border:0px;
}


/* Resume Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.resume {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.resume h2 {
  font-size: 25px;
}

.resume ul {
  font-size: 20px;
  text-align: left;
}

.resume span {
  color: #c41230;
}

.resume li {
  list-style: none;
  display: inline-block;
}

/* Projects Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.projects {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.projects h2 {
  font-size: 25px;
}

/* Writing Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.writing {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.writing h2 {
  font-size: 25px;
}

/* Other Section –––––––––––––––––––––––––––––––––––––––––––––––––– */

.other {
  padding: 30px 0px 40px;
  margin-left: 50px;
  margin-right: 50px;
}

.other h2 {
  font-size: 25px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Timeline –––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline {
  position: relative;
  white-space: nowrap;
  max-width: 1400px;
  padding: 0 auto;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
}

.timeline::before,
.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100px;
  z-index: 2;
}

.timeline::after {
  right: 0;
  background: linear-gradient(270deg, var(--timeline-gradient));
}

.timeline::before {
  left: 0;
  background: linear-gradient(90deg, var(--timeline-gradient));
}


.timeline ol::-webkit-scrollbar {
  height: 5px;
}

.timeline ol::-webkit-scrollbar-thumb,
.timeline ol::-webkit-scrollbar-track {
  border-radius: 95px;
}

.timeline ol::-webkit-scrollbar-thumb {
  background: var(--cream);
}

.timeline ol::-webkit-scrollbar-track {
  background: var(--leaf-green);
}

.timeline ol {
  font-size: 0;
  padding: 250px;
  transition: all 1s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-color: var(--leaf-green) var(--cream);
}

.timeline ol li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  width: 250px;
  height: 5px;
  background: var(--white);
  scroll-snap-align: start;
}

.timeline ol li:last-child {
  width: 380px;
}

.timeline ol li:not(:first-child) {
  margin-left: 1px;
}

.timeline ol li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 1px);
  bottom: 0;
  width: 16px;
  height: 16px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: var(--pink);
  z-index: 1;
}

.timeline ol li div {
  position: absolute;
  left: calc(100% + 7px);
  width: 370px;
  padding: 15px;
  font-size: 1rem;
  white-space: normal;
  color: var(--black);
  background: var(--white);
  border-radius: 0 10px 10px 10px;
}

.timeline ol li div::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ol li:nth-child(odd) div {
  top: -16px;
  transform: translateY(-100%);
  border-radius: 10px 10px 10px 0;
}

.timeline ol li:nth-child(odd) div::before {
  top: 100%;
  border-width: 8px 8px 0 0;
  border-color: var(--white) transparent transparent transparent;
}

.timeline ol li:nth-child(even) div {
  top: calc(100% + 16px);
}

.timeline ol li:nth-child(even) div::before {
  top: -8px;
  border-width: 8px 0 0 8px;
  border-color: transparent transparent transparent var(--white);
}

.timeline time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--pink);
}

/* Skills */
.parallax {
  background: #333;
  font-size: 30px;
  font-weight: bold;
  height: 200px;
  line-height: 200px;
  margin: 1em;
  text-align: center;
  width: 300px;
}